  <% @cabinets.each do |cabinet| %>
    <div>
      <%= link_to cabinet.title_cabinet + "内閣", cabinet %>
    </div>
    <% if logged_in? %>
      <div>
        <%= render "favorites/like_button", cabinet: cabinet %>
      </div>
    <% end %>
  <% end %>
