<% if cabinets.any? %> 
  <% cabinets.each do |cabinet| %>
    <div>
      <%= link_to cabinet.title_cabinet + "内閣", cabinet_path(current_user) %>
    </div>
    <div>
      <%= render "favorites/like_button", cabinet: cabinet %>
    </div>
  <% end %>
<% end %>