<h1><%= current_user.name %>さんの内閣一覧</h1>

  <% @cabinets.each do |cabinet| %>
  <div>
    <%= link_to cabinet.title_cabinet + "内閣" , cabinet %>
  </div>
    <% if current_user == cabinet.user %>
    <div>
      <%= link_to "Delete", cabinet, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
    </div>
    <% end %>
  <% end %>