<h1><%= current_user.name %>さんの内閣一覧</h1>

<ul>
  <% @cabinets.each do |cabinet| %>
    <li><%= link_to cabinet.id, cabinet %> : <%= cabinet.title_cabinet %>内閣</li>
    <% if current_user == cabinet.user %>
      <%= link_to "Delete", cabinet, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  <% end %>
</ul>